
.block_page_module{
    margin-top:15px;
    margin-bottom:15px;
    background:transparent !important;
    border:none !important;
}

/* Make everything dimmed */

.block_page_module div.dimmed{
    opacity:0.4;
    -moz-opacity:0.4;
    filter: alpha(opacity=40);
    background-color:#F0F0F0 !important;
}

.block-page-module-view {
    padding:10px;
    border:1px solid #e0e0e0;
    border-radius:8px;
    margin:5px;
    background-color:#f0f0f0
}

.block-page-module-emptyview {
    padding:10px;
    border:2px dashed #808080;
    border-radius:8px;
    margin:5px;
    background-color:#f0f0f0;
    opacity:0.4;
    -moz-opacity:0.4;
}